<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{styles.css}"/>
</head>
<body>

<div class="header">
    <h1>Design your taco</h1>
    <img class="image-logo" th:src="@{/images/Taco_Cloud.png}" alt="">
    <form method="post" th:action="@{/logout}">
        <input type="submit" value="Logout">
    </form>
</div>

<!--<form method="POST" th:action="@{/submit}" th:object="${taco}">-->
<form method="POST" th:object="${taco}">
    <div class="grid-container">
        <div th:each="type : ${types}">
            <div class="ingredient-group grid-item" id="ingredients">
                <h3 th:text="'Design your ' + ${type.getTypeName()}"></h3>
                <div>
                    <div>
                        <div th:each="ingredient : ${ingredientsByTypeMap[type.typeName]}">
                            <div>
                                <label>
                                    <input type="checkbox" th:field="*{ingredients}" th:value="${ingredient.ingredientShortName}"/>
                                    <span th:text="${ingredient.ingredientShortName}"></span>
                                    <span th:text="${ingredient.ingredientName}"></span>
                                </label>
                                <br/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="name-your-taco">
        <div>
            <h3>Name your taco creation:</h3>

        </div>
        <div>
            <div class="errorBlock">
                <span class="validationError" th:field="*{name}" th:if="${#fields.hasErrors('name')}"
                      th:errors="*{name}"> Taco Name Error!</span>
            </div>
            <label for="taco_name"></label>
            <input type="text" id="taco_name" th:field="*{name}"/>
            <button>Submit Your Taco</button>
        </div>

    </div>

    <div style="color: red" th:id="error">
        <div>
            <p th:text="${error}"></p>
        </div>
    </div>
</form>

<script type="text/javascript">
    function checkCheckBox(id, userChk) { alert(userChk.checked + " \n "+ id)}
</script>

</body>
</html>