<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{loginStyles.css}"/>
    <link rel="preconnect" th:href="@{https://fonts.googleapis.com}">
    <link rel="preconnect" th:href="@{https://fonts.gstatic.com}" crossorigin>
    <link th:href="@{https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap}" rel="stylesheet">
</head>
<body>

<div class="header">
    <div class="header-inner">

        <img th:src="@{/images/Taco_Cloud.png}"/>
    </div>
</div>

<div class="container">
    <div class="loginFormBlock">
        <div class="login-header">
            <h1>Login</h1>
        </div>
        <form method="POST" th:action="@{/authenticate}" id="loginForm">
            <div class="registerForm">
                <div th:if="${param.error}">
                    <p style="color: red;" th:text="${session.error}">Error goes here</p>
                </div>
                <div class="inputLabel username">
                    <div class="label">
                        <label for="username">Username: </label>
                    </div>
                    <div class="input">
                        <label>
                            <input type="text" name="user"/>
                        </label>
                    </div>
                </div>
                <div class="inputLabel password">
                    <div class="label">
                        <label for="password">Password: </label>
                    </div>
                    <div class="input">
                        <label>
                            <input type="text" name="pwd"/>
                        </label>
                    </div>

                </div>
                <div class="forgotPassword">
                    <a th:href="@{/password-recover}">Forgot Password ?</a>
                </div>
                <div class="submitBtn">
                    <div class="btn">
                        <input type="submit" value="Login"/>
                    </div>
                </div>

                <div class="loginWith">
                    <div class="login-with">
                        <a th:href="@{/oauth2/authorization/facebook}">
                            <div class="login_with_facebook">
                                <img src="https://icons.iconarchive.com/icons/yootheme/social-bookmark/32/social-facebook-button-blue-icon.png"
                                     width="32" height="32" alt="facebook">
                            </div>
                        </a>
                    </div>
                    <div class="login-with">
                        <a th:href="@{/oauth2/authorization/google}">
                            <div class="login_with_google">
                                <img src="https://icons.iconarchive.com/icons/martz90/circle/32/google-plus-icon.png"
                                     width="32" height="32" alt="google">
                            </div>
                        </a>
                    </div>
                    <div class="login-with">
                        <a th:href="@{/oauth2/authorization/X}">
                            <div class="login_with_twitter">
                                <img src="https://icons.iconarchive.com/icons/sicons/basic-round-social/32/twitter-icon.png"
                                     width="32" height="32">
                            </div>
                        </a>
                    </div>
                </div>

                <div>
                    <div class="dontHaveAccount">
                        <a th:href="@{/register}">
                            Don't have account?
                        </a>
                    </div>
                </div>

            </div>
            <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        </form>
    </div>
</div>

</body>
</html>